@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

.laurel-caption {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    margin-top: 8px;
    font-weight: 600;
  }
  